[submodule "tree-sitter"]
	path = tree-sitter
	url = https://github.com/tree-sitter/tree-sitter
[submodule "tree-sitter-java"]
	path = tree-sitter-java
	url = https://github.com/raghav-deepsource/tree-sitter-java.git
	branch = master
[submodule "src/test/tree-sitter-python"]
	path = src/test/tree-sitter-python
	url = https://github.com/tree-sitter/tree-sitter-python.git
